@tailwind base;
@tailwind components;
@tailwind utilities;

.svg {
  @apply fill-gray-500 transform transition duration-500 ease-in-out;
}
.svg:hover {
  @apply scale-110 fill-gray-400;
}

/* css for hero crousel  */

.carousel-open:checked + .carousel-item {
  position: static;

  opacity: 100;
}

.carousel-item {
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block;
}

#carousel-1:checked ~ .carousel-bullet,
#carousel-2:checked ~ .carousel-bullet,
#carousel-3:checked ~ .carousel-bullet {
  color: #2b6cb0;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

#carousel-1:checked
  ~ .control-1
  ~ .carousel-indicators
  li:nth-child(1)
  .carousel-bullet,
#carousel-2:checked
  ~ .control-2
  ~ .carousel-indicators
  li:nth-child(2)
  .carousel-bullet,
#carousel-3:checked
  ~ .control-3
  ~ .carousel-indicators
  li:nth-child(3)
  .carousel-bullet {
  color: #2b6cb0;
  /*Set to match the Tailwind colour you want the active one to be */
}

/* spechial underline */

.u-line:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #374151;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.u-line:hover:after {
  width: 100%;
  left: 0;
}

/* box shadow */

.shadow-box {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.shadow-box-hover:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* ------------ image box ------------ */
.my-box {
  display: flex;
  height: 0;
  padding-bottom: 100%;
  width: 100%;
}

/* ------ view button   product hover --------- */
.switch {
  position: relative;
}

.div_a {
  position: relative;
  opacity: 1;
  transition: 600ms;
}

.div_hover {
  position: absolute;
  opacity: 0;
  top: 0;
}

.switch:hover .div_hover {
  opacity: 1;
  transition-duration: 300ms;
  transition-timing-function: linear;
  z-index: 11;
}
